*.xslx
.npm
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity
.DS_Store
.cache
.vscode
package-lock.json
pnpm-lock.yaml
yarn.lock
node_modules
dist

